h1 { color: green; Font: Algerian; }
	p { color: purple; padding: 0px 300px; }
	h3 { color: red; Font: Algerian; }
	h4 { color: red; }
body { font-family: Times New Roman; text-align: center;}
nav ul{ list-style-type: none;
  Text-decoration: none;
    color: green; background-image: url('Purple Grid.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }
  nav li {
    display: inline;
    text-align: right;
  padding: 2.5em; 
  Text-decoration: none;
    color: green;

}